.card {
  display: flex;
  width: 40vh;
  height: 45vh;
  margin-bottom: 20vh;
  background-color: #808080;
}

.card h3 {
  display: inline;
  margin-left: 20px;
}

.card-features {
  align-self: end;
  margin-left: 20px;
}

.card-features p {
  text-align: center;
  bottom: 0px;
}

.card-features-p-icon {
  font-size: 15px;
}
